h1 {
    color: Red;
    text-align: center;
}

h2 {
    font-style: italic;
    text-align: center;
}

h3 {
    font-style: italic;
    text-align: center;
}

h4 {
    font-style: italic;
    text-align: center;
}

h5 {
    font-style: italic;
    text-align: center;
}

p {
    font-family: sans-serif;
}

ul {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-family: "Comic Sans";
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
