h1 {
    color: goldenrod;
    text-align: center;
    background-color: blue;
    font-family: cursive;
}

a {
    color: goldenrod;
    font-family: Impact;
}

body {background-color: purple}

h2 {
    color: goldenrod;
    font-style: italic;
    text-align: center;
    background-color: blue;
    font-family: cursive;
}

h3 {
    color: goldenrod;
    font-style: italic;
    text-align: center;
    background-color: lightblue;
    font-family: cursive;
}

h4 {
    font-style: italic;
    text-align: center;
}

h5 {
    font-style: italic;
    text-align: center;
}

p {
    font-family: cursive;
    text-align: center;
}

ul {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-family: "Comic Sans";
}

li {
    color: goldenrod;
    font-family: cursive;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}